{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "airbnb",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "react-html-attrs"
  ]
}